**Домашнее задание к лекции.**

**Задание 1**  
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
  - оценка 2 и меньше - низкий рейтинг
  - оценка 4 и меньше - средний рейтинг
  - оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ml-latest-small/ratings.csv')
data = data[['movieId', 'rating']]                          # фильтр столбцов

In [3]:
movies = pd.read_csv('ml-latest-small/movies.csv')
movies = movies[['movieId', 'title']]                       # фильтр столбцов

In [4]:
data_movies = data.merge(movies, on='movieId', how='left')
data_movies.head()

   movieId  rating                        title
0        1     4.0             Toy Story (1995)
1        3     4.0      Grumpier Old Men (1995)
2        6     4.0                  Heat (1995)
3       47     5.0  Seven (a.k.a. Se7en) (1995)
4       50     5.0   Usual Suspects, The (1995)

In [5]:
def class_rating(param):
    if param <= 2:
        return "низкий рейтинг"
    elif param <= 4:
        return "средний рейтинг"
    elif param >= 4.5:
        return "высокий рейтинг"

In [6]:
data_movies['class_rating'] = data_movies['rating'].apply(class_rating)
#data_movies_sort = data_movies.sort_values('rating', ascending=False)   # сортировка по убыванию
#data_movies_sort.head()
data_movies.head()

   movieId  rating                        title     class_rating
0        1     4.0             Toy Story (1995)  средний рейтинг
1        3     4.0      Grumpier Old Men (1995)  средний рейтинг
2        6     4.0                  Heat (1995)  средний рейтинг
3       47     5.0  Seven (a.k.a. Se7en) (1995)  высокий рейтинг
4       50     5.0   Usual Suspects, The (1995)  высокий рейтинг

**Задание 2**  
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [7]:
data2 = pd.read_csv('keywords.csv')

In [8]:
data2.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [9]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [10]:
def region(country):
    i = False
    for region, countries in geo_data.items():
        if country in countries:
            i = True
            return region
    if i == False:
        return 'undefined'

In [11]:
data2['region'] = data2['keyword'].apply(region)
data2.head(2)

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined

In [12]:
data_countries = data2[data2['keyword'].isin(['москва', 'тула', 'ярославль', 'петербург', 'псков', 'мурманск', 'владивосток', 'сахалин', 'хабаровск'])]
data_countries.head(10)

           keyword   shows          region
1259        москва  153050           Центр
5858   владивосток   43038  Дальний Восток
6075     ярославль   41720           Центр
8977      мурманск   29984    Северо-Запад
9084     хабаровск   29655  Дальний Восток
11222        псков   24885    Северо-Запад
11785         тула   23898           Центр
20823    петербург   14859    Северо-Запад
21445      сахалин   14494  Дальний Восток

**Задание 3 (бонусное)**  
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
  - для каждой строки пройдите по всем годам списка years
  - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
  - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

In [13]:
data3 = pd.read_csv('ml-latest-small/ratings.csv')
data3 = data3[['movieId', 'rating']] 

movies3 = pd.read_csv('ml-latest-small/movies.csv')
movies3 = movies3[['movieId', 'title']]  

data_movies3 = data3.merge(movies3, on='movieId', how='left')
data_movies3.head()

   movieId  rating                        title
0        1     4.0             Toy Story (1995)
1        3     4.0      Grumpier Old Men (1995)
2        6     4.0                  Heat (1995)
3       47     5.0  Seven (a.k.a. Se7en) (1995)
4       50     5.0   Usual Suspects, The (1995)

In [14]:
x = [i for i in range(1950,2011)]

In [15]:
def production_year(name):
    j = False
    for el in x:
        if str(el) in name:
            j = True
            return str(el)
    if j == False:
        return '1900'

In [16]:
data_movies3['year'] = data_movies3['title'].apply(production_year)
data_movies3.head()

   movieId  rating                        title  year
0        1     4.0             Toy Story (1995)  1995
1        3     4.0      Grumpier Old Men (1995)  1995
2        6     4.0                  Heat (1995)  1995
3       47     5.0  Seven (a.k.a. Se7en) (1995)  1995
4       50     5.0   Usual Suspects, The (1995)  1995

In [17]:
data_movies3 = data_movies3[['year', 'rating']] 
data_movies3_group = data_movies3.groupby('year').mean()

In [18]:
data_movies3_sort = data_movies3_group.sort_values('rating', ascending=False)
data_movies3_sort.head()

        rating
year
1957  4.039535
1954  4.009191
1962  3.969466
1952  3.953125
1972  3.944293